<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workout">
            <h2><span jhiTranslate="fitcallabApp.workout.detail.title">Workout</span> {{ workout.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fitcallabApp.workout.type">Type</span></dt>
                <dd>
                    <span>{{ workout.type }}</span>
                </dd>
                <dt><span jhiTranslate="fitcallabApp.workout.minutes">Minutes</span></dt>
                <dd>
                    <span>{{ workout.minutes }}</span>
                </dd>
                <dt><span jhiTranslate="fitcallabApp.workout.user">User</span></dt>
                <dd>
                    {{ workout.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/workout', workout.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
