<div>
    <h2 id="page-heading">
        <span jhiTranslate="fitcallabApp.workout.home.title">Workouts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-workout" [routerLink]="['/workout/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fitcallabApp.workout.home.createLabel">
            Create a new Workout
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="workouts?.length === 0">
        <span jhiTranslate="fitcallabApp.workout.home.notFound">No workouts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="workouts && workouts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="fitcallabApp.workout.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="minutes"><span jhiTranslate="fitcallabApp.workout.minutes">Minutes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="fitcallabApp.workout.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let workout of workouts ;trackBy: trackId">
                    <td><a [routerLink]="['/workout', workout.id, 'view']">{{ workout.id }}</a></td>
                    <td>{{ workout.type }}</td>
                    <td>{{ workout.minutes }}</td>
                    <td>
                        {{ workout.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/workout', workout.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/workout', workout.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(workout)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
